[default]
region = ap-southeast-2
output = json

[profile om-dev]
sso_session = om-sso
sso_account_id = 123564074355
sso_role_name = ECROnly
region = ap-southeast-2
output = json

[sso-session om-sso]
sso_start_url = https://ordermentum.awsapps.com/start#
sso_region = ap-southeast-2
sso_registration_scopes = sso:account:access
